@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  max-width: 100vw;
}

@media (max-width: 1024px) {
  .c-left form {
    gap: 1.5vw;
  }
  .c-left form .row input,
  .c-left form button {
    height: 3.2vw;
  }
}
@media (max-width: 900px) {
  header{
    height: 5.5vw;
    padding: 0.7vw 1.25vw;
  }
  header .h-right button {
    width: 9vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 768px) {
  header {
    height: 7vw;
  }
  header .h-right button {
    width: 10vw;
    font-size: 2vw;
  }
  .container .c-left {
    font-size: 3vw;
  }
  .c-left form {
    gap: 2vw;
  }
  .c-left form .row input {
    height: 4.5vw;
    padding: 5px 10px;
    border-radius: 7px;
  }

  .c-left form button {
    width: 50%;
    height: 5vw;
  }

  .c-right .content {
    gap: 2vw;
    font-size: 3vw;
  }


  .c-right .content .circle {
    width: 8vw;
    height: 8vw;
  }
}

@media (max-width: 600px) {
  header {
    height: 10vw;
    padding: 1.25vw;
  }
  header .h-left img {
    width: 6vw;
    height: 6vw;
  }
  header .h-left h1{
    font-size: 5.5vw;
  }
  header .h-right button {
    width: 15vw;
    font-size: 3vw;
  }
  .container .c-left {
    font-size: 3.5vw;
  }
  .c-left form {
    gap: 3vw;
  }
  .c-left form .row input {
    height: 5.5vw;
    padding: 5px 10px;
    border-radius: 7px;
  }

  .c-left form button {
    width: 50%;
    height: 6vw;
  }

  .c-right .content {
    gap: 2vw;
    font-size: 3.5vw;
  }

  .c-right .content .circle {
    width: 10vw;
    height: 10vw;
  }
}
@media (max-width: 425px) {
  header {
    height: 12vw;
  }
  header .h-right button {
    width: 18vw;
    font-size: 4vw;
  }
  .container{
    flex-wrap: wrap;
  }
  .container .c-left {
    width: 100%;
    height: 80vh;
    font-size: 6vw;
    border-radius: 20px 20px 0px 0px;
  }
  .c-left form {
    gap: 2vw;
  }
  .c-left form .row input {
    height: 8vw;
    padding: 5px 10px;
    border-radius: 7px;
  }

  .c-left form button {
    width: 50%;
    height: 9vw;
  }
  .container .c-right{
    width: 100%;
    height: 50%;
    border-radius: 0 0px 20px 20px;
  }

  .c-right .content {
    gap: 4vw;
    font-size: 5vw;
  }
  

  .c-right .content .circle {
    width: 12vw;
    height: 12vw;
  }
}
@media (max-width: 325px) {

  .container .c-left {
    width: 100%;
    height: 65vh;
    font-size: 6vw;
    border-radius: 20px 20px 0px 0px;
  }
  .c-left form {
    gap: 2vw;
  }
  .c-left form .row input {
    height: 8vw;
    padding: 5px 10px;
    border-radius: 7px;
  }

  .c-left form button {
    width: 50%;
    height: 9vw;
  }
  .container .c-right{
    width: 100%;
    height: 50%;
    border-radius: 0 0px 20px 20px;
  }

  .c-right .content {
    gap: 4vw;
    font-size: 5vw;
  }
  

  .c-right .content .circle {
    width: 12vw;
    height: 12vw;
  }
}
